body {background:#87ad84;}
h1 {color: ;
    text-align: center;
    font-size:3em ;
    color:#21611c;}

h2 {color: ;
    text-align: center;
    font-family: ;
    color:#21611c;}
    
.center {display: block;
  margin-left: auto;
  margin-right: auto;}
p {color:#87ad84 ;}  
#About-Our-School {background-color:#f7fcd2;

}

#dress-code {color: #21611c;}
