body {background:#87ad84;}
h1 {color: ;
    text-align: center;
    font-size:3em ;
    color:#21611c;}

h2 {color: ;
    text-align: center;
    font-family: ;
    color:#21611c;}
    
.center {display: block;
  margin-left: auto;
  margin-right: auto;}
.clubs-to-offer {color: #21611c;}
p {color:#21611c ;}  
#About-Our-School {background-color:#f7fcd2;

}

#Clubs {color: #21611c;
    font-size: 1.5em;
    
}
#quote {color: #21611c;
    font-family: garamond;
}

    
#sports {color: #21611c;
    background-color:#f7fcd2  ;
}

#contact {font-size: .9em;}
