body {background:#87ad84;}
h1 {color: ;
    text-align: center;
    font-size:3em ;
    color:#21611c;}

h2 {color: ;
    text-align: center;
    font-family: ;
    color:#21611c;}
    
.center {display: block;
  margin-left: auto;
  margin-right: auto;}
.clubs-to-offer {color: #21611c;}
p {color:#21611c ;}  
#About-Our-School {background-color:#f7fcd2;
margin-top: 0px;
  margin-bottom: px;
  margin-right: 80px;
  margin-left: 80px;
}

#Clubs {color: #21611c;
    font-size: 1.5em;
    
}
#quote {color: #21611c;
    font-family: garamond;
}

    
#sports {color: #21611c;
    background-color:#f7fcd2  ;
}

#contact {font-size: .9em;}

ul {
  list-style-type: none;
  margin: 50px;
  overflow: hidden;
  background-color: #21611c;
}

li {
    color: #21611c;
  float: left;
}

li a {

  display: block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

li a:hover { 
  background-color: #111;
}

body {background:#87ad84;
}
#Title {color: #21611c;
        font-size: 2.5em;
}
#Basketball {color:#21611c; 
            font-style: italic;
            font-size: 2em;}

#description {margin-top: -30px;
  margin-bottom: px;
  margin-right: 80px;
  margin-left: 80px;
   background-color: #f7fcd2}
th,td {border-style:solid;}
#Summer-Camps {color:#21611c;}
